<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar>
  <span>{{title}}</span>
</md-toolbar>

<md-grid-list cols="1" rowHeight="16:9">
  <md-grid-tile>
    <md-card>
      <md-card-title>watering timer</md-card-title>
      <md-card-content>Last access : <time>{{wateringTimer.lastAccess | amTimeAgo}}</time></md-card-content>
      <md-card-actions>
        <md-slide-toggle [(ngModel)]="wateringTimer.status" (change)="onChange()" >watering</md-slide-toggle>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
